integration-tests/xml/files/expected/0011-basic.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:element name="customers"><xs:complexType><xs:sequence><xs:element name="customer" minOccurs="0" maxOccurs="unbounded"><xs:complexType><xs:sequence><xs:element name="firstName" type="xs:string"/><xs:element name="lastName" type="xs:string"/><xs:element name="signupDate" type="xs:dateTime"/><xs:element name="premium" type="xs:boolean"/></xs:sequence><xs:attribute name="id" type="xs:long" use="optional"/></xs:complexType></xs:element></xs:sequence></xs:complexType></xs:element></xs:schema>