integration-tests/xml/files/expected/0013-multi-group-by.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:element name="regions"><xs:complexType><xs:sequence><xs:element name="region" minOccurs="0" maxOccurs="unbounded"><xs:complexType><xs:sequence><xs:element name="order" minOccurs="0" maxOccurs="unbounded"><xs:complexType><xs:sequence><xs:element name="customer" type="xs:string"/><xs:element name="lines"><xs:complexType><xs:sequence><xs:element name="line" minOccurs="0" maxOccurs="unbounded"><xs:complexType><xs:sequence><xs:element name="qty" type="xs:long"/><xs:element name="price" type="xs:decimal"/></xs:sequence><xs:attribute name="sku" type="xs:string" use="optional"/></xs:complexType></xs:element></xs:sequence></xs:complexType></xs:element></xs:sequence><xs:attribute name="id" type="xs:long" use="optional"/></xs:complexType></xs:element></xs:sequence><xs:attribute name="code" type="xs:string" use="optional"/></xs:complexType></xs:element></xs:sequence></xs:complexType></xs:element></xs:schema>