integration-tests/xml/files/expected/0014-document-fragment.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:element name="products"><xs:complexType><xs:sequence><xs:element name="product" minOccurs="0" maxOccurs="unbounded"><xs:complexType><xs:sequence><xs:element name="name" type="xs:string"/><xs:element name="price" type="xs:decimal"/><xs:any processContents="skip" minOccurs="0"/></xs:sequence><xs:attribute name="sku" type="xs:string" use="optional"/></xs:complexType></xs:element></xs:sequence></xs:complexType></xs:element></xs:schema>