integration-tests/xml/files/expected/0017-zipped.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:element name="transactions"><xs:complexType><xs:sequence><xs:element name="transaction" minOccurs="0" maxOccurs="unbounded"><xs:complexType><xs:sequence><xs:element name="date" type="xs:dateTime"/><xs:element name="amount" type="xs:decimal"/></xs:sequence><xs:attribute name="id" type="xs:string" use="optional"/></xs:complexType></xs:element></xs:sequence></xs:complexType></xs:element></xs:schema>